{% extends "base.html" %}

{% block announce %}
  最新更新：增加评论系统，去除手机端遮挡图片
{% endblock %}



{% block content %}
  {{ super() }} 
  <script src="https://cdn.jsdelivr.net/particle.js/2.0.0/particle.min.js"></script>
    <!-- 引入配置粒子效果的 JavaScript 文件 -->
    <script src="{{ config['extra']['js_path'] }}/particles-config.js"></script>
  <style>
    /* 可选的 CSS 样式 */
    #imageContainer {
        display: inline-block;
        cursor: pointer;
    } 
    /* 默认情况下图片显示 */
    img {
            display: block;
        }
        
        /* 在小屏幕上隐藏图片 */
        @media only screen and (max-width: 600px) {
          .hide-on-mobile {
                display: none;
            }
        }
        canvas {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* 使得 canvas 在最底层 */
        }
  </style>
  <div id="particles-js"></div>
  <div id="imageContainer", style="position: fixed; bottom: 20px; left: 40px;">
    <img id="myImage" src="https://smdrr11037.github.io/my_site/javascripts/IMG_2840.PNG" class="hide-on-mobile" alt="图片1" width="200" height="200">
  </div>
  <script src="{{ config['extra']['js_path'] }}/custom.js"></script>
  
{% endblock %}

