{% extends "base.html" %}

{% block announce %}
  最新更新：增加评论系统，去除手机端遮挡图片
{% endblock %}



{% block content %}
  {{ super() }} 
  <style>
    /* 可选的 CSS 样式 */
    #imageContainer {
        display: inline-block;
        cursor: pointer;
    } 
    /* 默认情况下图片显示 */
    img {
            display: block;
        }
        
        /* 在小屏幕上隐藏图片 */
        @media only screen and (max-width: 600px) {
            img {
                display: none;
            }
        }
  </style>
  <div id="imageContainer", style="position: fixed; bottom: 20px; left: 40px;">
    <img id="myImage" src="https://smdrr11037.github.io/my_site/javascripts/IMG_2840.PNG" alt="图片1" width="200" height="200">
  </div>
  <script src="{{ config['extra']['js_path'] }}/custom.js"></script>
{% endblock %}

