{% extends "base.html" %}

{% block announce %}
  最新更新：数据库笔记更新，修复图片路径
{% endblock %}



{% block content %}
  {{ super() }} 
  <style>
    /* 可选的 CSS 样式 */
    #imageContainer {
        display: inline-block;
        cursor: pointer;
    } 
  </style>
  <div id="imageContainer", style="position: fixed; bottom: 20px; left: 40px;">
    <img id="myImage" src="https://smdrr11037.github.io/my_site/javascripts/IMG_2840.PNG" alt="图片1" width="200" height="200">
  </div>
  <script src="{{ config['extra']['js_path'] }}/custom.js"></script>
{% endblock %}

